#left-bar {
  display: block;
  background-color: #2196F3;
  padding: 10px;
  cursor: pointer;
  width: 25%
}

.cell {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  height: 11vmin;
  text-align: center;
  float: left;
}

#right-bar {
  display: block;
  background-color: #2196F3;
  padding: 10px;
  cursor: pointer;
  width: 25%
}

.cell {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  height: 11vmin;
  text-align: center;
  float: right;
}

#img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#bottombar {
  height: 5vh;
}

#bottombar button {
  width: 100%;
  /* height: 100%; */
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  font-size: 2vw
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.selected { background-color: red;}